*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header{
  background-color: #000000;
  border: 2px solid #ffffff;
  text-align: center;
}

nav{
  background-color: #000000;
  border: 3px solid #ffffff;
  padding: 10px;
}

ol{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.9vw;
}

.p1{
  margin-left: 10px;
  display: inline-block;
}

.p2{
  display: inline-block;
  margin-left: 10px;
}

.p3{
  display: inline-block;
  margin-left: 10px;
}

.p4{
  display: inline-block;
  margin-left: 10px;
}

.p5{
  display: inline-block;
  margin-left: 10px;
}

body{
  background-color: #000000;
}

h1{
  color: #ffffff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  text-align: center;
  font-size: 5vw;
  font-variant: small-caps;
}


a{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  transition: 1s;
  color: gray;
}

strong{
  color: #ffffff;
  text-decoration: underline;
}

strong:hover{
  transition: 1s;
  color: gray;
}